{% extends "base.html" %} 

{% block title %}List{% endblock title %}

{% block content %}
<br>





  {% for destination in destinations %}
	  <div class="card " style="width: 18rem;">
	   <img class="card-img-top" src="{{destination.pretty_picture.url}}"  alt="Card image cap">
	  <div class="card-img-overlay">
	    <h4 class="card-title"><font color="white">{{destination.name}}</h4>
	    <p class="card-text"><font color="white">{{destination.activities}}</p>
	    <a href="{% url 'destination-detail' destination.id %}" class="btn btn-primary">See More.</a>
	    
	    </div>
	  </div><div class="card-deck">

	</div>  

  {% endfor %}
</div>
{% endblock content %}
